@media (max-width: 960px){
  .header__menu-btn{
    display: block;
    cursor: pointer;
  }
  .header__menu > ul {
    display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    border-bottom: 5px solid #2aacc8;
  }
  .header__menu li{
    display: block;
    text-align: center;
  }
  .header__menu li + li{
    margin: 0;
  }
  .header__menu li + li a{
    border-top: 1px solid #e7e7e7;
  }
  .drop-down__list li + li a {
    border-top: 1px solid #e7e7e7;
  }
  .header__drop-down.dropdown{
    margin: 0;
  }
  .header__menu a{
    display: block;
    text-transform: capitalize;
  }
  .header__drop-down.dropdown:hover .drop-down__list{
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  .drop-down__list{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
    position: static;
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
  .header__drop-down.dropdown .drop-down__list.active{
    height: auto;
    overflow: visible;
    opacity: 1;
    transition: all .3s;
    position: static;
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
  .header__drop-down.dropdown > a::after{
    right: initial;
    margin-left: 10px;
  }
  .header__drop-down.dropdown > a.active::after{
    transform: rotate(180deg);
    transition: all .4s;
  }

  .items__inner{
    flex-wrap: wrap;
    text-align: justify;
  }
  .item{
    width: 50%;
    margin-bottom: 20px;
  }
  .item{
    padding: 15px;
  }
}
@media (max-width: 920px){
  .clients__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .testimonial-block{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .clients-block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .clients__title{
    padding-right: 10px;
  }
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__item.footer__item-socials{
    width: 60%;
  }
}


@media (max-width: 660px){
  .clients-block{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .clients__title{
    padding-right: 0;
    margin: 10px auto 15px;
  }

  .download__block{
    display: flex;
    flex-direction: column;
  }
  .download-text{
    text-align: center;
    padding-bottom: 10px;
  }
}

@media (max-width: 560px){
  .footer__item.footer__item-socials{
    width: 39%;
    flex-wrap: wrap;
  }
  .footer__bottom{
    flex-wrap: wrap;
  }
  .footer__copyright{
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
  }
  .footer__logo{
    margin: 0 auto;
  }
}

@media (max-width: 520px){
  .footer__item.footer__item-socials{
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (max-width: 530px){
  .item{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px){
  .clients-block{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .clients__title{
    padding-right: 0;
    margin: 10px auto 15px;
  }

  .testimonial-block{
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
  .clients__block__images > img{
    max-width: 100%;
  }

}

@media (max-width: 420px){
  .slider__item-title{
    margin-left: 20px;
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: 405px){
  .footer__item.footer__item-socials{
    width: 47%;
  }
  .about{
    width: 100%;
    text-align: justify;
  }
}

@media (max-width: 370px){
  .footer__item.footer__item-socials{
    width: 100%;
  }
}

@media (max-width: 320px){
  .slider__item-title{
    font-size: 33px;
    line-height: 50px;
  }
}